<form id="join-game" autocomplete="off">
   
   <style type="text/css">
      video#bgvid {
         position: fixed;
         right: 0;
         bottom: 0;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         z-index: -100;
         background-size: cover;
         }
      .title1 {
         font-family:"思源宋体";
         color:white;
         font-size:99px;
         text-align:center;
         text-shadow:1px 1px 10px lightskyblue,
            -1px -1px 10px lightskyblue,
            2px 2px 20px slateblue,
            -2px -2px 20px slateblue,
            3px 3px 30px dodgerblue,
            -3px -3px 30px dodgerblue;
         }
      .join-body {
         margin:0 auto;
         display: flex;
         justify-content: center ;
         }
      .login-window {
         position: fixed;
         left: 0;
         right: 0;
         bottom: 180px;
         margin: auto;
         border-radius: 10px;
         width: 320px;
         padding: 15px 30px;
         color: azure;
         background: url(../ui/denim-dark-090.png) repeat;
         border: 2px solid #111;
         box-shadow: 0 0 10px #000;
         }
      .button-1 {
         width: 300px;
         max-width: 60%;
         }
      .backway {
         position: fixed;
         color: white;
         font-size: 12px;
         bottom: 20px;
         left: 50px;
         }
      .backbutton {
         font-size: 30px;
         display: block;
         min-width: 30px;
         text-align: center;
         height: 30px;
         line-height: 30px;
         color: #FFFFFF;
         border-radius: 30px;
         background-color: #00000080;
         }
      .backbutton:hover {
         background-color: red;
         }
      .mid-window {
         justify-content: center;
         color: white;
         padding: 25px;
         position: fixed;
         top: calc(50% - 100px);
         background: url(../ui/denim-dark-090.png) repeat;
         left: 0;
         width: 100%;
         height: 180px;
         box-shadow: 0 0 20px rgb(0 0 0);
         }
      .mid-window2 {
         margin: 0 auto;
         width: 600px;
         }
      #setup button {
         border: 0;
         border-radius: 20px;
         color: black;
         background-color: rgba(255, 255, 240, 0.8);
         }
      #setup button:hover {
         color: white;
         background-color: firebrick;
         }
      }
   </style>
   
   <script type='text/javascript'>
      function show_hidden(obj) {
      　　if(obj.style.display == 'block') {
      　　 obj.style.display = 'none';
      　　} else {
      　　　　　obj.style.display = 'block';
      　　}
      }
      var sh = document.getElementById("showHidden");
      sh.onclick = function() {
      var div1 = document.getElementById("div1");
      var div2 = document.getElementById("div2");
      show_hidden(div1);
      show_hidden(div2);
      return false;
      }
	  myVid=document.getElementById("bgvid");
	  myVid.volume=0.0;
   </script>
   
   <video autoplay loop poster="" id="bgvid" volumevalue="0.5">
      <source src="{{ world.background }}" type="video/webm">
   </video>

    <section class="join-body flexcol">
         
         <span class="title1 flexcol">
             {{ world.title }}
         </span>
         
         <!-- 用户登录 -->
            <div class="login-window flexcol" style="margin-top:200px;">
                <!-- <h1>{{ localize "JOIN.HeaderJoin" }}</h1>-->
                <div class="form-group split">
                    <label><i class="fas fa-user"></i> {{ localize "JOIN.SelectUser" }}</label>
                    <select name="userid">
                        <option value=""></option>
                        {{#each users}}
                        <option value="{{this.id}}" {{#if this.active}}disabled{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group split">
                    <label><i class="fas fa-key"></i> {{ localize "JOIN.UserKey" }}</label>
                    <input type="password" name="password" placeholder="{{ localize "USERS.AccessKey" }}" value="" autocomplete="off"/>
                </div>
               <br/>
               <button type="button" name="join" title="{{ localize "JOIN.HeaderJoin" }}" class="button-1" style="align-self: center;">
                  <i class="fas fa-check"></i> {{ localize "JOIN.HeaderJoin" }}
               </button>
            
            </div>
         
         <div class="backway">
            <span id="showHidden" class="backbutton"><</span>
         </div>
         
            <div id="div1" class="mid-window" style="display:none;">
            <center>
            <div class="mid-window2">
               <h1>{{ localize "JOIN.HeaderSetup" }}</h1>
               {{#if isAdmin }}
               <p>{{ localize "JOIN.AuthAdmin" }}</p>
               {{else}}
               <div class="form-group">
                  <label><i class="fas fa-key"></i> {{ localize "SETUP.AdminKeyLabel" }}</label>
                  <input type="password" name="adminKey" value="" autocomplete="off">
               </div>
               {{/if}}
               <br/>
               <button class="button-1" type="button" name="shutdown" title="{{ localize "JOIN.HeaderSetup" }}" style="align-self:center;">
                  <i class="fas fa-lock"></i> {{ localize "JOIN.HeaderSetup" }}
               </button>
            </div>
            </center>
            </div>
    </section>
</form>
